body {
    font-family: Helvetica, Arial, sans-serif;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
table {
    cursor: default;
}
.calendar-cell th,
.calendar-cell td {
    font-weight: normal;
    padding: 0.2em 0.8em;
}
.meta-cell {
    vertical-align: top;
}
.meta-head {
    padding-top: 15px;
}
.meta-body {
    font-size: 8em;
    letter-spacing: -2px;
    padding: 0 16px;
    width: 150px;
}
thead .calendar-header th {
    padding: 0.5em 0;
}
thead .arrow {
    color: #777;
    cursor: pointer;
    font-weight: lighter;
}
thead .arrow:hover {
    background: #eee;
    color: #111;
}
thead .header-month-year {
    color: #111;
    font-family: "Helvetica Neue", HelveticaNeue;
    letter-spacing: 1.5px;
}
thead .header-month,
thead .header-year {
    background: none;
    border: 1px solid transparent;
    font-size: 1em;
    margin: 0 1px;
    outline: none;
    padding: 4px;
}
thead .header-month:hover,
thead .header-year:hover {
    border: 1px solid #ccc;
}
thead .header-year:hover {
    border-radius: 5px;
}
thead .header-month {
    -webkit-appearance: none;
}
thead .header-year {
    text-align: right;
    width: 45px;
}
thead .header-day-names,
tbody th,
tbody td {
    font-size: 0.9em;
}
tbody tr {
    height: 20px;
}
tbody td {
    color: #888;
}
tbody td:not(:empty):hover {
    background: #eee;
    color: #000;
    cursor: pointer;
}
tbody .active {
    background: #f55;
    color: #fff;
}
tbody .active:hover,
tbody .active[data-date]:hover {
    background: #f33;
    color: #fff;
}
